<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Laptop_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Laptop_GUI.Properties.Settings>
            <setting name="Laptop_GUI_localhost_PDAConnection" serializeAs="String">
                <value>http://localhost:4757/Service.asmx</value>
            </setting>
            <setting name="Laptop_GUI_localhost1_PDAConnection" serializeAs="String">
                <value>http://localhost:4757/Service.asmx</value>
            </setting>
            <setting name="Laptop_GUI_Server_Connection_ActivityMonitor"
                serializeAs="String">
                <value>http://localhost:2345/ActivityMonitor.asmx</value>
            </setting>
        </Laptop_GUI.Properties.Settings>
    </applicationSettings>
</configuration>