<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQL" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=localhost;Database=Activity_Monitor;User=root;Password=bnbdbpw;sslca=c:/newcerts/ca-cert.pem;sslcert=c:/newcerts/client-cert.pem;sslkey=c:/newcerts/client-key.pem;sslverify=0;Option=3;"
      providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>